$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;
@mixin media($queryString){
    @media (#{$queryString}) {
      @content;
    }
}
@mixin seq($propertyName, $defaultValue, $mediaQueries: ()) {
    #{$propertyName}: #{$defaultValue};
  
    @each $breakpoint, $value in $mediaQueries {
      @media (min-width: #{$breakpoint}) {
        #{$propertyName}: #{$value};
      }
    }
}

$lp-name: 'lp-nutri-candy';
$font: Gotham, sans-serif;
$font-black: 'Gotham Black', sans-serif;

$primary-color: #FCB823;
$secondary-color: #656565;
$info-color: #DF2121;
$default-color: #171717;
$light-color: #FFFF;

/*
* PAGE/ELEMENTS
*/
.#{$lp-name} {
    width: 100%;
    
    background-color: #fff;
    font-family: $font;
}

.#{$lp-name}-principal {
    width: 100%;
    
    background-color: #4A4A4A;
    background-image: linear-gradient(#000000, #2E2E2E00);
    font-family: $font;
}

.#{$lp-name}-principal-container {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.#{$lp-name}-principal__wrapper_logo {
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width: 10vw;
        margin: 10px;

        @include media("max-width:" + $md){ 
            width: 24vw;
            margin-top: 4vh;
        }
    }
}

.#{$lp-name}-principal__wrapper_hero {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    padding: 4vh 4vw 4vh 8vw;

    @include media("max-width:" + $md){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 55vw;
    }

    &-success {
        display: none;

        @include media("max-width:" + $md){
            padding-bottom: 75vw;
        }
    }
}

.#{$lp-name}-principal__wrapper_content_text_bold {
    color: $primary-color;
}

.#{$lp-name}-principal__content_left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vh 0vw 2vh 2vw;
    justify-content: flex-start;
    align-items: flex-start;

    @include media("max-width:" + $md){
        padding-right: 4vw;
    }

    h1{
        color: $light-color;
        font-weight: 600;
        font-size: 2.9vw;
        line-height: 130%;
        font-style: normal;
        margin-top: 3vw;
        margin-bottom: 10%;
        text-align: justify;

        @include media("max-width:" + $md){
            font-size: 7.6vw;
        }
        
    }

    h3{
        color: $light-color;
        font-weight: normal;
        font-size: 1.2vw;
        line-height: 130%;
        font-style: normal;
        text-align: justify;

        @include media("max-width:" + $md){
            font-size: 4.55vw;
            text-align: left;
            line-height: 110%;
        }
    }

    strong{
        font-weight: 900;
    }

    form{
        margin: 4vh 0vw 1vh;
        flex-direction: column;
        display: flex;
        flex: 1;
    }

    &__input-error {
        border: solid !important;
        border-color: $info-color !important;
        border-width: 2px !important;
    }

    input{
        background-color: $light-color;
        border-radius: 5px;
        border: transparent;
        color: $secondary-color;
        font-weight: 100;
        font-size: 10px;
        height: 4vh;
        margin: 1vh 0;
        padding: 0 1vw;

        @include media("max-width:" + $lg){
            height: 3vh;
            padding: 0 2vw;
        }

        @include media("max-width:" + $md){
            height: 6.6vh;
            font-size: 2.5vw;
        }

        
    }

    button{
        background-color: $info-color;
        border-radius: 6px;
        color: $light-color;
        font-weight: bolder;
        font-size: 1vw;
        border: none;
        height: 7vh;
        margin: 1vh 0;

        @include media("max-width:" + $lg){
            height: 4vh
        }

       @include media("max-width:" + $md){
            font-size: 3vw;
            height: 7vh;
        }
    }

    h5{
        color: $light-color;
        font-weight: bold;
        font-size: 0.66vw;

       @include media("max-width:" + $md){
            text-align: center;
            font-size: 3vw;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-success {
        h1{
            font-size: 4vw;

            @include media("max-width:" + $md){
                font-size: 7.6vw;
            }
        }

        button {
            width: 100%;
            font-size: 1.5vw;

            @include media("max-width:" + $lg){
                height: 4vh
            }

            @include media("max-width:" + $md){
                font-size: 3vw;
                height: 7vh;
            }
        }
    }
}

.#{$lp-name}-principal_text_circle{
    display: flex;
}

.#{$lp-name}-principal_circle{
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    background-color: $primary-color;
    margin-left: -5vw;
    position: absolute;

   @include media("max-width:" + $md){ 
        width: 18vw;
        height: 18vw;
    }
}

.#{$lp-name}-principal_text{
    z-index: 9;
    width: 80%;

   @include media("max-width:" + $md){ 
        width: 100%;
    }
}

.#{$lp-name}-principal_divisor{
    width: 100px;
    height: 7px;
    margin: 10px 0;
    background-color: $primary-color;
}

.#{$lp-name}-principal__content_right{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vh 0vw 2vh 0vw;
    align-items: flex-end;
    justify-content: right;

    img {
        width: 41vw;

       @include media("max-width:" + $md){
            width: 90vw;
            position: absolute;
            align-self: center;
        }
    }
}

.#{$lp-name}-benefits {
    width: 100%;
    
    background-color: $primary-color;
    font-family: $font;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 8vh 2vw 0vh;

   @include media("max-width:" + $md){
        padding: 0vh 10vw;
        padding-top: 30vh;
    }

    h1 {
        font-size: 1.3vw;
        text-align: center;

       @include media("max-width:" + $md){
            font-size: 4.3vw;
        }
    }

    h3 {
        font-size: 1.40vw;
        text-align: center;
        padding: 2vh 0;
        max-width: 95%;

       @include media("max-width:" + $md){
            font-size: 4vw;
        }
    }

    img {
        width: 14vw;
        margin: 0 5vw;

       @include media("max-width:" + $md){
            width: 32vw;
        }
    }
}

.#{$lp-name}-benefits-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8vh 0;

    @include media("max-width:" + $lg){
        padding: 4vh 0;
    }

   @include media("max-width:" + $md){
        flex-direction: column;
    }
}

.#{$lp-name}-benefits-text-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 22vw;

   @include media("max-width:" + $md){
        max-width: 63vw;
        padding: 2vh 0;
    }

    &-ranking {
        img {
            width: 12vw;
        }

        h3 {
            max-width: 70%;
        }

        @include media("max-width:" + $md){
            img{
                width: 30vw;
            }

            h3 {
                max-width: 95%;
            }
        }
    }
   
}

.#{$lp-name}-footer {
    width: 100%;
    
    background-color: $light-color;
    font-family: $font;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8vh 2vw 0vh;

    @include media("max-width:" + $lg){
        padding: 4vh 2vw 0vh;
    }

    h5 {
        font-weight: 400;
        font-size: 2.5vh;

        @include media("max-width:" + $lg){    
            font-size: 1.5vh;
        }
    }

    @include media("max-width:" + $md){ 

        h5 {
            font-size: 3vw;
        }
    }

    &-success {
        margin-top: 0vh;

        @include media("max-width:" + $md){
            margin-top: 10vh;
        }
    }
}

.#{$lp-name}-footer-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    padding: 8vh 3vw;

    @include media("max-width:" + $lg){ 
        padding: 4vh 3vw;
    }

   @include media("max-width:" + $md){
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 4vw;
        margin: 0 5vw;

        @include media("max-width:" + $lg){
            width: 7vw;
        }

       @include media("max-width:" + $md){
            width: 10vw;
        }
    }

    h6 {
        font-weight: 400;
        font-size: 2.3vh;
        text-align: center;
        padding: 1vh 0vw;

        @include media("max-width:" + $lg){
           font-size: 1.5vh;
        }

       @include media("max-width:" + $md){
            font-size: 2.7vw;
            line-height: 2vh;
        }
        
    }

    div {
        margin: 0 2vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include media("max-width:" + $lg){
            padding: 1vh 3vw;
            max-width: none;
            margin: 0;
        }

       @include media("max-width:" + $md){
            padding: 1vh 7vw;
            max-width: none;
        }
    }

    
}